body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mybutton{
    font-size: 5em;
    padding: 5px 25px;
    border-radius: 5px;
}
#mylabel{
    font-size: 3em;
}